footer {
    background-color: #2b2b2b;

    .logo {
        max-width: 135px;
        float: left;
        margin-top: 20px !important;
        margin-bottom: 10px !important;

        img {
            width: 100%;
        }
    }

    .menu-footer {
        float: left;
        padding: 0;
        margin: 0;
        margin-top: 27px !important;
        margin-left: 45px !important;

        @include device {
            margin: 0 !important;
        }

        li {
            display: inline-block;
            list-style: none;
            margin: 0 15px;

            @include device {
                margin: 0 5px !important;
            }

            @include iphone5Landscape {
                margin: 0 2px !important;
            }

            a {
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;

                @include device {
                    font-size: 10px;
                }

                &:hover {
                    text-decoration: none;
                    color: #fff;
                    opacity: 0.85;
                }
            }
        }
    }

    .social {
        float: right;
        padding: 0;
        margin: 0;
        margin-top: 20px !important;

        @include device {
            float: left;
        }

        li {
            display: inline-block;
            list-style: none;
            margin: 0 5px;

            span {
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
            }

            a {
                display: inline-block;
                width: 35px;
                height: 35px;
                border: 1px solid #fff;
                border-radius: 50%;
                text-align: center;
                color: #fff;
                padding-top: 7px;

                &:hover {
                    text-decoration: none;
                    background-color: #fff;
                    color: #2791da;
                    transition: all ease 0.15s;
                }
            }
        }
    }

    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

    .img-qr {
        float: left;

        img {
            max-width: 150px;
        }
    }

    .company-info {
        padding: 0;
        margin: 0;
        float: left;
        list-style: none;
        color: #fff;
        font-size: 13px;
        margin-left: 25px !important;

        @include device {
            margin-left: 15px !important;
        }

        li {
            position: relative;
            padding-left: 25px;
            margin-bottom: 10px;

            &:first-child {
                padding-left: 0;
            }

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 2px;
                font-family: "Font Awesome 5 Free";
            }

            &.adddress {
                &:before {
                    content: "\f041";
                    font-weight: 700;
                }
            }

            &.phone {
                &:before {
                    content: "\f095";
                    font-weight: 700;
                }
            }

            &.email {
                &:before {
                    content: "\f0e0";
                }
            }
        }

        h3 {
            font-size: 13px;
            text-transform: uppercase;
            margin-top: 0;
            color: #fff !important;

            @include device() {
                line-height: 21px;
            }
        }
    }

    .app-info {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;

        @include device {
            float: left;
            margin-left: 15px !important;
            margin-top: 20px !important;
        }

        li {
            margin-bottom: 20px;
        }

        p {
            color: #fff;
            font-size: 13px;
        }
    }

    .copyright {
        margin-top: 25px;
        background-color: #0f3c4e;
        text-align: center;
        min-height: 36px;
        padding-top: 10px;

        p {
            color: #fff;
            font-size: 12px;
        }
    }

    .email-form {
        position: relative;

        input {
            padding-left: 10px;
            padding-right: 32px;
        }

        &:after {
            content: "\f0e0";
            font-family: "Font Awesome 5 Free";
            width: 28px;
            height: 28px;
            background-color: #48b0f8;
            position: absolute;
            top: 3px;
            right: 3px;
            border-radius: 50%;
            text-align: center;
            padding-top: 4px;
            padding-left: 2px;
            color: #fff;
            border-radius: 50%;
        }
    }

    .control-round {
        width: 100%;
        border-radius: 30px !important;
        height: 34px !important;
        color: #6c6c6c !important;
        font-size: 16px;
        border: 1px solid #fff !important;

        &:hover,
        &:active,
        &:focus {
            border-color: #a2d6fa !important;
            transition: all ease 0.2s;
        }
    }

    hr {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        border: 0;
        border-top: 1px solid #eee !important;
        opacity:1;
    }
}
