@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../fonts/helveticaneuemedium.ttf') format('truetype');
}

@font-face {
    font-family: 'helveticaneuelight';
    src: url('../fonts/helveticaneuelight.ttf') format('truetype');
}

@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helveticaneue.ttf') format('truetype');
}

@font-face {
    font-family: 'helveticaneuebold';
    src: url('../fonts/helveticaneuebold.ttf') format('truetype');
}

@font-face {
    font-family: 'helveticaneueitalic';
    src: url('../fonts/helveticaneueitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'utm_beba';
    src: url('../fonts/UTM Bebas.ttf') format('truetype');
}