@charset "UTF-8";
@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../fonts/helveticaneuemedium.ttf") format("truetype"); }

@font-face {
  font-family: 'helveticaneuelight';
  src: url("../fonts/helveticaneuelight.ttf") format("truetype"); }

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneue.ttf") format("truetype"); }

@font-face {
  font-family: 'helveticaneuebold';
  src: url("../fonts/helveticaneuebold.ttf") format("truetype"); }

@font-face {
  font-family: 'helveticaneueitalic';
  src: url("../fonts/helveticaneueitalic.ttf") format("truetype"); }

@font-face {
  font-family: 'utm_beba';
  src: url("../fonts/UTM Bebas.ttf") format("truetype"); }

html, body {
  font-family: 'helveticaneue';
  color: #646464;
  font-size: 15px; }

.underline-menu {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0px;
  background-color: #60bcfd; }

label {
  font-weight: normal; }
  label input[type=checkbox].red-check {
    width: 1px !important;
    height: 1px !important;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute; }
    label input[type=checkbox].red-check ~ .checkbox-shape {
      position: relative;
      display: inline-block;
      cursor: pointer; }
      label input[type=checkbox].red-check ~ .checkbox-shape:before {
        cursor: pointer;
        font: normal normal normal 14px/1 FontAwesome;
        color: #48b0f8;
        background-color: #fff;
        content: "\a0";
        border: 1px solid #c8c8c8;
        display: inline-block;
        text-align: center;
        height: 14px;
        width: 14px;
        line-height: 14px;
        margin-right: 14px;
        position: relative;
        font-size: 12px;
        transition: all ease-in 0.2s; }
      label input[type=checkbox].red-check ~ .checkbox-shape:hover:before {
        border-color: #48b0f8;
        background-color: #fff; }
      label input[type=checkbox].red-check ~ .checkbox-shape:focus::before {
        border-color: #48b0f8;
        background-color: #fafafa; }
    label input[type=checkbox].red-check:checked ~ .checkbox-shape::before {
      content: '\f00c';
      border: 1px solid #48b0f8;
      background-color: #fafafa;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); }
    label input[type=checkbox].red-check:checked:active ~ .checkbox-shape::before {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1); }
    label input[type=checkbox].red-check:hover ~ .checkbox-shape::before {
      border-color: #48b0f8;
      background-color: #fff; }
    label input[type=checkbox].red-check:focus ~ .checkbox-shape::before {
      border-color: #48b0f8;
      background-color: #fafafa; }
    label input[type=checkbox].red-check:active ~ .checkbox-shape::before {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1); }
  label .checkbox-text {
    cursor: pointer; }

.pagination a {
  width: 45px;
  height: 45px;
  border: 1px solid #dddddd !important;
  margin-right: 10px;
  background-color: #f6f6f6 !important;
  color: #333 !important;
  padding-top: 11px !important; }
  .pagination a:hover, .pagination a.active {
    background-color: #2791da !important;
    color: #fff !important;
    border: 1px solid #2791da !important; }

.row-equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  .row-equal > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }

.masonry-layout {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  width: 99%;
  margin-bottom: 60px; }
  .masonry-layout .item {
    display: inline-block;
    padding: 0px;
    margin: 0;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #cecece;
    display: inline-block;
    cursor: pointer; }
    .masonry-layout .item img {
      max-width: 100%; }
      .masonry-layout .item img:hover {
        opacity: 0.75; }

.custom-check label {
  height: 40px;
  width: 100%;
  margin: 0; }

.custom-check [type="checkbox"] + label:before,
.custom-check [type="checkbox"]:not(.filled-in) + label:after {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.custom-check [type="checkbox"]:checked + label:before {
  border-right: 2px solid #029e3b;
  border-bottom: 2px solid #029e3b;
  margin-top: 16px; }

@media screen and (min-width: 1600px) {
  .full-width .ubermenu-nav, .container, .row {
    max-width: 1300px !important; } }

.label-line {
  position: relative;
  color: #fff;
  padding-top: 10px;
  font-size: 15px;
  margin: 0; }
  .label-line:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #757575; }

.button-primary {
  background-color: #e57e2f !important;
  border-radius: 7px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'helveticaneuemedium';
  height: 40px;
  transition: all ease 0.2s; }
  .button-primary img {
    max-width: 20px;
    float: right;
    margin-left: 10px;
    margin-top: 5px; }
  .button-primary:hover {
    opacity: 0.9; }

.font-beba {
  font-family: 'utm_beba';
  font-weight: normal; }

a.button {
  text-decoration: none; }
  a.button:hover {
    text-decoration: none; }

footer {
  background-color: #003246; }
  footer .logo {
    max-width: 135px;
    float: left; }
    footer .logo img {
      width: 100%; }
  footer .menu {
    float: left;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    margin-left: 45px; }
    @media screen and (max-width: 1024px) {
      footer .menu {
        margin: 0; } }
    footer .menu li {
      display: inline-block;
      list-style: none;
      margin: 0 15px; }
      @media screen and (max-width: 1024px) {
        footer .menu li {
          margin: 0 5px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
        footer .menu li {
          margin: 0 2px; } }
      footer .menu li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px; }
        @media screen and (max-width: 1024px) {
          footer .menu li a {
            font-size: 10px; } }
        footer .menu li a:hover {
          text-decoration: none;
          color: #fff;
          opacity: 0.85; }
  footer .social {
    float: right;
    padding: 0;
    margin: 0;
    margin-top: 22px; }
    @media screen and (max-width: 1024px) {
      footer .social {
        float: left; } }
    footer .social li {
      display: inline-block;
      list-style: none;
      margin: 0 5px; }
      footer .social li span {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase; }
      footer .social li a {
        display: inline-block;
        width: 35px;
        height: 35px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        padding-top: 7px; }
        footer .social li a:hover {
          text-decoration: none;
          background-color: #fff;
          color: #2791da;
          transition: all ease 0.15s; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer .img-qr {
    float: left; }
    footer .img-qr img {
      max-width: 150px; }
  footer .company-info {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
    color: #fff;
    font-size: 13px;
    margin-left: 25px; }
    @media screen and (max-width: 1024px) {
      footer .company-info {
        margin-left: 15px; } }
    footer .company-info li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 10px; }
      footer .company-info li:first-child {
        padding-left: 0; }
      footer .company-info li:before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        font-family: "Font Awesome 5 Free"; }
      footer .company-info li.adddress:before {
        content: "\f041"; }
      footer .company-info li.phone:before {
        content: "\f095";
        font-weight: 700; }
      footer .company-info li.email:before {
        content: "\f0e0"; }
    footer .company-info h3 {
      font-size: 13px;
      text-transform: uppercase;
      margin-top: 0; }
      @media screen and (max-width: 1024px) {
        footer .company-info h3 {
          line-height: 21px; } }
  footer .app-info {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none; }
    @media screen and (max-width: 1024px) {
      footer .app-info {
        float: left;
        margin-left: 15px;
        margin-top: 20px; } }
    footer .app-info li {
      margin-bottom: 20px; }
    footer .app-info p {
      color: #fff;
      font-size: 13px; }
  footer .copyright {
    margin-top: 25px;
    background-color: #0f3c4e;
    text-align: center;
    min-height: 36px;
    padding-top: 10px; }
    footer .copyright p {
      color: #fff;
      font-size: 12px; }
  footer .email-form {
    position: relative; }
    footer .email-form input {
      padding-left: 10px;
      padding-right: 32px; }
    footer .email-form:after {
      content: "\f0e0";
      font-family: "Font Awesome 5 Free";
      width: 28px;
      height: 28px;
      background-color: #48b0f8;
      position: absolute;
      top: 3px;
      right: 3px;
      border-radius: 50%;
      text-align: center;
      padding-top: 4px;
      padding-left: 2px;
      color: #fff;
      border-radius: 50%; }
  footer .control-round {
    width: 100%;
    border-radius: 30px;
    height: 34px;
    color: #6c6c6c;
    font-size: 16px;
    border: 1px solid #fff; }
    footer .control-round:hover, footer .control-round:active, footer .control-round:focus {
      border-color: #a2d6fa;
      transition: all ease 0.2s; }

.header .header-main .nav > li > a {
  font-size: 14px;
  text-transform: uppercase; }

.benefit {
  background-color: #71bdba;
  padding: 50px 0;
  text-align: center;
  color: #fff; }
  .benefit h3 {
    font-family: 'helveticaneuemedium' !important; }
  .benefit .intro {
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 15px;
    line-height: 26px; }
  .benefit .list-item {
    margin-top: 60px; }
    .benefit .list-item .item {
      float: left;
      width: 20%;
      padding: 0 25px; }
      .benefit .list-item .item i {
        display: block;
        text-align: center; }
        .benefit .list-item .item i img {
          display: inline-block;
          max-width: 100%; }
      .benefit .list-item .item span {
        font-family: 'helveticaneuemedium' !important;
        font-size: 42px;
        color: #fff;
        position: relative;
        padding-bottom: 30px;
        display: inline-block;
        margin-top: 15px; }
        .benefit .list-item .item span:after {
          content: "";
          position: absolute;
          width: 65%;
          height: 2px;
          background-color: #fff;
          bottom: 25%;
          left: 0;
          right: 0;
          margin: 0 auto; }
      .benefit .list-item .item p {
        color: #fff;
        font-family: 'helveticaneuemedium' !important;
        padding: 0 20px;
        font-size: 15px; }

.activity {
  text-align: center; }
  .activity h3 {
    font-family: 'helveticaneuemedium' !important;
    color: #555555;
    font-size: 24px; }
  .activity p {
    color: #555;
    font-size: 15px;
    max-width: 730px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 23px; }
  .activity .list .item {
    display: inline-block;
    width: 16.66666667%;
    transition: all ease-in 0.5s;
    min-height: 400px;
    position: relative;
    cursor: pointer;
    background-size: cover; }
    .activity .list .item.active {
      width: 33.33333334%; }
    .activity .list .item:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2; }
    .activity .list .item label {
      position: absolute;
      bottom: 20px;
      left: 25px;
      z-index: 3;
      margin: 0; }
      .activity .list .item label span {
        position: relative;
        text-transform: uppercase;
        font-family: 'helveticaneuemedium' !important;
        font-size: 16px;
        color: #fff;
        padding-top: 10px; }
        .activity .list .item label span:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 45px;
          height: 4px;
          background-color: #e57e2f; }

.deploy-section {
  padding: 90px 0;
  background-color: #535478; }
  .deploy-section .intro {
    padding-right: 20px;
    border-right: 2px solid #36353b; }
    @media screen and (max-width: 1023px) {
      .deploy-section .intro {
        padding-right: 0; } }
    .deploy-section .intro .md-title {
      font-family: 'helveticaneuemedium' !important;
      font-size: 25px;
      color: #fff;
      position: relative;
      padding-bottom: 20px; }
      .deploy-section .intro .md-title:after {
        content: "";
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #e57e2f;
        left: 0;
        bottom: 0; }
    .deploy-section .intro span {
      font-size: 18px;
      color: #fff;
      margin: 15px 0;
      display: block; }
    .deploy-section .intro p {
      color: #b3b3b3; }
  .deploy-section .s-title {
    padding-left: 20px; }
    @media screen and (max-width: 1023px) {
      .deploy-section .s-title {
        display: none; } }
    .deploy-section .s-title h2 {
      font-size: 38px;
      color: #36353b;
      text-transform: uppercase;
      line-height: 52px;
      margin: 0; }
      .deploy-section .s-title h2 .txt-white {
        color: #fff; }

.strong-section {
  margin-top: 30px; }
  .strong-section .number .row .show-number {
    display: inline-block;
    width: auto !important;
    margin-right: 30px; }
    .strong-section .number .row .show-number:last-child {
      padding-top: 50px; }
      @media screen and (max-width: 1023px) {
        .strong-section .number .row .show-number:last-child {
          padding-top: 0; } }
    @media screen and (max-width: 1023px) {
      .strong-section .number .row .show-number {
        display: block;
        width: 100% !important;
        margin-right: 0; } }
  .strong-section .number div[class*='box-'] {
    display: table;
    height: 195px;
    width: 230px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-weight: bold; }
    @media screen and (max-width: 1023px) {
      .strong-section .number div[class*='box-'] {
        margin: 0 auto;
        margin-bottom: 15px; } }
    .strong-section .number div[class*='box-'] > div {
      vertical-align: middle;
      display: table-cell;
      /*text-align: center;*/ }
      .strong-section .number div[class*='box-'] > div span {
        font-family: 'helveticaneuemedium';
        font-size: 65px;
        color: #fff; }
        .strong-section .number div[class*='box-'] > div span sup {
          margin-left: -12px; }
      .strong-section .number div[class*='box-'] > div p {
        text-transform: uppercase;
        color: #fff;
        font-family: 'helveticaneuemedium';
        font-size: 13px; }
  .strong-section .number .box-1 {
    background-color: #fe3333;
    text-align: center; }
  .strong-section .number .box-2 {
    background-color: #1bab03;
    padding-left: 40px; }
  .strong-section .number .box-3 {
    background-color: #7901ff;
    padding-left: 55px; }
  .strong-section .number .box-4 {
    background-color: #0380cf;
    padding-left: 55px; }
  .strong-section .s-text h3 {
    color: #555555;
    font-family: 'helveticaneuemedium' !important;
    font-size: 24px;
    margin: 20px 0; }
  .strong-section .s-text p {
    font-size: 15px;
    margin-bottom: 30px;
    max-width: 370px; }
  .strong-section .s-text ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .strong-section .s-text ul li {
      position: relative;
      padding-left: 30px; }
      .strong-section .s-text ul li:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 15px;
        height: 3px;
        background-color: #81a9db; }

.solution-section {
  margin: 60px 0;
  position: relative; }
  .solution-section .vertical-arrow .swiper-button-prev {
    position: absolute;
    top: 0;
    right: 0; }
  .solution-section .vertical-arrow .swiper-button-next {
    position: absolute;
    bottom: 0;
    right: 0; }

/*slide section*/
[class^="swiper-button-"] {
  transition: all .3s ease; }

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.swiper-container {
  width: 67%;
  height: 600px;
  float: left;
  transition: opacity .6s ease, transform .3s ease; }
  @media screen and (max-width: 1023px) {
    .swiper-container {
      width: 100%;
      height: 450px; } }
  .swiper-container.nav-slider {
    width: 33%;
    padding-left: 25px;
    padding-right: 10px; }
    @media screen and (max-width: 1023px) {
      .swiper-container.nav-slider {
        display: none; } }
    .swiper-container.nav-slider .swiper-slide {
      cursor: pointer;
      transition: opacity .3s ease; }
      .swiper-container.nav-slider .swiper-slide.swiper-slide-active {
        background-color: #fff;
        -webkit-box-shadow: -1px 0px 30px 3px #dbdbdb;
        -moz-box-shadow: -1px 0px 30px 3px #dbdbdb;
        box-shadow: -1px 0px 30px 3px #dbdbdb; }
        .swiper-container.nav-slider .swiper-slide.swiper-slide-active .content p {
          color: #000; }
      .swiper-container.nav-slider .swiper-slide .content {
        width: 100%; }
        .swiper-container.nav-slider .swiper-slide .content .title {
          font-size: 20px; }
  .swiper-container:hover .swiper-button-prev,
  .swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  .swiper-container.loading {
    opacity: 0;
    visibility: hidden; }
  .swiper-container .swiper-slide .content-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    color: #595959;
    text-align: center;
    padding-bottom: 20px; }
    .swiper-container .swiper-slide .content-bg .title {
      font-size: 30px;
      font-family: 'helveticaneuelight' !important;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 10px; }
      .swiper-container .swiper-slide .content-bg .title span {
        font-family: 'helveticaneuemedium' !important; }
    .swiper-container .swiper-slide .content-bg .caption {
      display: block;
      font-size: 16px;
      line-height: 1.4;
      transform: translateX(50px);
      opacity: 0;
      transition: opacity .3s ease, transform .7s ease;
      padding: 0 15px; }
      .swiper-container .swiper-slide .content-bg .caption span {
        display: block;
        text-align: center; }
      .swiper-container .swiper-slide .content-bg .caption.show {
        transform: translateX(0);
        opacity: 1; }
    .swiper-container .swiper-slide .content-bg .see-more {
      color: #555;
      font-size: 15px;
      border: 1px solid #b7b7b7;
      display: inline-block;
      padding: 8px 27px;
      border-radius: 30px;
      background-color: #e1e1e1;
      margin-top: 10px; }
      .swiper-container .swiper-slide .content-bg .see-more i {
        font-size: 12px; }
      .swiper-container .swiper-slide .content-bg .see-more:hover {
        text-decoration: none;
        opacity: 0.85; }

.swiper-slide {
  overflow: hidden; }
  .swiper-slide .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
  .swiper-slide .entity-img {
    display: none; }
  .swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
    border-radius: 7px; }
    .swiper-slide .content .title {
      font-size: 2.6em;
      font-weight: bold;
      margin-bottom: 30px; }
    .swiper-slide .content .caption {
      display: block;
      font-size: 13px;
      line-height: 1.4;
      transform: translateX(50px);
      opacity: 0;
      transition: opacity .3s ease, transform .7s ease; }
      .swiper-slide .content .caption.show {
        transform: translateX(0);
        opacity: 1; }

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden; }

.swiper-button-prev {
  transform: translateX(50px); }

.swiper-button-next {
  transform: translateX(-50px); }

.nav-slider .swiper-slide {
  background-color: #e5e5e5;
  border-radius: 7px; }
  .nav-slider .swiper-slide .content {
    position: relative;
    text-align: center; }
    .nav-slider .swiper-slide .content p {
      color: #808080;
      font-family: 'helveticaneuemedium' !important;
      font-size: 18px;
      margin: 0; }
  .nav-slider .swiper-slide i {
    position: absolute;
    top: 35px;
    right: 20px; }
    .nav-slider .swiper-slide i img {
      max-width: 30px; }

.contact-us .c-banner {
  height: 400px;
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 10px; }
  .contact-us .c-banner .banner-blur {
    /*background-image: url(../../images/bg_2.jpg);*/
    background-image: url("../../images/contact_bn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -700px;
    position: fixed;
    height: 450px;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    pointer-events: none;
    /*filter: blur(2px);
            -webkit-filter: blur(2px);*/ }
    @media screen and (min-width: 1920px) {
      .contact-us .c-banner .banner-blur {
        background-position: 0px -900px; } }
  .contact-us .c-banner .text {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    z-index: 2; }
    .contact-us .c-banner .text h3 {
      font-family: 'helveticaneuelight' !important;
      color: #fff;
      font-size: 32px;
      margin: 0;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 20px; }
    .contact-us .c-banner .text p {
      color: #fff;
      font-size: 18px; }

.contact-us .c-cotainer {
  margin-top: -90px;
  background-color: #fff;
  padding: 60px 80px; }

.contact-us .nav-tabs {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  .contact-us .nav-tabs > li {
    position: relative;
    display: block;
    float: left;
    margin-bottom: -1px;
    margin-right: 30px; }
    .contact-us .nav-tabs > li .avatar_tab {
      width: 65px;
      height: 70px;
      display: block;
      background-size: cover;
      background-color: #8f8f8f;
      background-position: center;
      background-repeat: no-repeat; }
    .contact-us .nav-tabs > li a {
      position: relative;
      display: block;
      line-height: 1.42857143;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      text-decoration: none !important; }
    .contact-us .nav-tabs > li.active .avatar_tab {
      background-color: #4b98ce; }

.contact-us .tab-content > p {
  margin-top: 10px; }

.contact-us .contact-text label {
  font-family: 'helveticaneuemedium'; }

.contact-us .overview h2 {
  font-family: 'helveticaneuelight';
  color: #333;
  font-size: 30px;
  margin-bottom: 20px; }

.contact-us .overview .list-contact {
  list-style: none;
  padding: 0;
  margin: 0; }
  .contact-us .overview .list-contact li {
    width: 50%;
    float: left;
    min-height: 115px;
    font-size: 14px; }
    .contact-us .overview .list-contact li:nth-child(1), .contact-us .overview .list-contact li:nth-child(3) {
      padding-right: 20px; }
    .contact-us .overview .list-contact li:nth-child(2), .contact-us .overview .list-contact li:nth-child(4) {
      padding-left: 20px; }
    .contact-us .overview .list-contact li span {
      display: block; }
      .contact-us .overview .list-contact li span > span {
        display: block; }
        .contact-us .overview .list-contact li span > span:first-child {
          text-transform: uppercase;
          font-family: 'helveticaneuelight';
          font-size: 16px;
          margin: 5px 0; }
        .contact-us .overview .list-contact li span > span a {
          color: #646464; }
    .contact-us .overview .list-contact li i {
      color: #4b98ce;
      font-size: 30px; }
      .contact-us .overview .list-contact li i.fa-clock {
        font-weight: 500; }

.contact-us .send-us-pop {
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 33px 0px #8f8f8f;
  -moz-box-shadow: 0px 0px 33px 0px #8f8f8f;
  box-shadow: 0px 0px 33px 0px #8f8f8f;
  padding: 80px 60px; }
  .contact-us .send-us-pop h3 {
    font-family: 'helveticaneuelight';
    color: #4b98ce;
    font-size: 38px;
    margin-top: 0; }
  .contact-us .send-us-pop .note-txt {
    max-width: 270px;
    display: inline-block;
    margin-bottom: 30px; }
  .contact-us .send-us-pop .form-group {
    padding: 0 15px; }
  .contact-us .send-us-pop .form-control {
    margin-bottom: 25px;
    border: 0;
    border-bottom: 1px solid #ddd;
    outline: none;
    box-shadow: none; }
    .contact-us .send-us-pop .form-control:focus {
      border-color: #4b98ce; }
  .contact-us .send-us-pop .button-submit {
    background-color: #4b98ce;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #4b98ce;
    padding: 10px 34px;
    transition: all ease 0.2s; }
    .contact-us .send-us-pop .button-submit:hover {
      opacity: 0.8; }

.related-solution .pt-cv-content-item {
  padding: 0; }

.related-solution .pt-cv-ifield {
  position: relative;
  cursor: pointer; }
  .related-solution .pt-cv-ifield > a {
    display: block; }
  .related-solution .pt-cv-ifield .btn-success {
    display: none; }
  .related-solution .pt-cv-ifield .pt-cv-title {
    text-transform: uppercase;
    font-family: 'helveticaneuemedium';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 60px;
    text-align: center; }
  .related-solution .pt-cv-ifield a {
    color: #fff; }
    .related-solution .pt-cv-ifield a:hover {
      text-decoration: none; }
  .related-solution .pt-cv-ifield .pt-cv-content {
    display: block;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
    color: #fff;
    transition: all ease 0.4s; }
  .related-solution .pt-cv-ifield:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .related-solution .pt-cv-ifield:hover:before {
    background: #a071ff;
    background: -moz-linear-gradient(left, #a071ff 0%, #137f99 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #a071ff), color-stop(100%, #137f99));
    background: -webkit-linear-gradient(left, #a071ff 0%, #137f99 100%);
    background: -o-linear-gradient(left, #a071ff 0%, #137f99 100%);
    background: -ms-linear-gradient(left, #a071ff 0%, #137f99 100%);
    background: linear-gradient(to right, #a071ff 0%, #137f99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a071ff', endColorstr='#137f99', GradientType=1 );
    opacity: 0.8; }
  .related-solution .pt-cv-ifield:hover .pt-cv-content {
    opacity: 1;
    bottom: 30px; }

.round-element {
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #fff; }
  .round-element .round-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.ul-blue {
  padding: 0;
  margin: 0;
  list-style: none; }
  .ul-blue li {
    display: block;
    position: relative;
    padding-left: 19px;
    font-size: 15px; }
    .ul-blue li:before {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: 0;
      background-color: #02748d; }
    .ul-blue li span, .ul-blue li a {
      color: #333;
      text-decoration: none; }
      .ul-blue li span:hover, .ul-blue li a:hover {
        text-decoration: none; }
  .ul-blue.double-list li {
    width: 50%;
    float: left; }

.buble-box {
  position: relative;
  background: #88b7d5;
  text-align: center; }
  .buble-box:after {
    bottom: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 9px; }
  .buble-box.bottom-arrow:after {
    bottom: 0;
    top: 100%;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 9px; }
  .buble-box.box-border {
    border-radius: 5px; }
  .buble-box.arrow-right:after {
    left: unset;
    right: 50px; }
  .buble-box.box-esclip {
    border-radius: 50%; }

a.button {
  text-decoration: none; }

.mrw-pop .modal-header {
  border-bottom: 0; }

.mrw-pop .close {
  position: absolute;
  right: 15px;
  top: 0;
  color: #545454; }

.mrw-pop .modal-title {
  font-family: 'helveticaneuemedium';
  color: #545454; }

.mrw-pop .form-group {
  position: relative; }
  .mrw-pop .form-group:before {
    position: absolute;
    top: 6px;
    left: 10px;
    font-family: "Font Awesome 5 Free";
    font-size: 15px;
    color: #f58220; }
  .mrw-pop .form-group.name:before {
    content: "\f007"; }
  .mrw-pop .form-group.phone:before {
    content: "\f095";
    font-weight: 900; }
  .mrw-pop .form-group.email:before {
    content: "\f0e0"; }
  .mrw-pop .form-group.content:before {
    content: "\f075"; }
  .mrw-pop .form-group input,
  .mrw-pop .form-group textarea {
    width: 100%;
    height: 34px;
    border: 1px solid #959595;
    outline: none !important;
    transition: all ease 0.3s;
    padding: 5px 35px;
    color: #333;
    box-shadow: none !important; }
    .mrw-pop .form-group input:focus,
    .mrw-pop .form-group textarea:focus {
      border: 1px solid #f58220; }
  .mrw-pop .form-group textarea {
    min-height: 250px; }
  .mrw-pop .form-group select {
    box-shadow: none !important; }

.mrw-pop .send-btn {
  display: inline-block;
  background-color: #f58220;
  border: 1px solid #f58220;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'helveticaneuemedium';
  padding: 10px 30px;
  cursor: pointer; }
  .mrw-pop .send-btn:hover {
    opacity: 0.85;
    text-decoration: none; }

.mrw-pop .group-submit {
  margin-bottom: 30px; }

.img-banner {
  text-align: center; }
  .img-banner img {
    display: inline;
    max-width: 1000px; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("fonts/slick.eot");
  src: url("fonts/slick.eot?#iefix") format("embedded-opentype"), url("fonts/slick.woff") format("woff"), url("fonts/slick.ttf") format("truetype"), url("fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

